:root,
page {
  --x-color-main: #ff443d;
  --x-color-sub: #4cd964;
  --x-color-g1: #f6f7f9;
  --x-color-g2: #eceef2;
  --x-color-g3: #dbdfe6;
  --x-color-g4: #c7ccd5;
  --x-color-g5: #8a919f;
  --x-color-g6: #6c727d;
  --x-color-g7: #4d525c;
  --x-color-g8: #393c42;
  --x-color-text-support: #8a919f;
  --x-color-success: #19be6b;
  --x-color-error: #fa3534;
  --x-color-warning: #ff9900;
  --x-color-info: #909399;
}

.x-s-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.x-m-text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.x-safe-bottom-blank {
  height: calc(env(safe-area-inset-bottom, 0) / 2);
}

.x-button {
  border-radius: 200rpx;
  font-weight: 500;
  font-size: 32rpx;
  border: 1rpx solid #eceef2;
  background: #fff;
  color: #8a919f;
  padding: 0 52rpx;
  text-align: center;
  line-height: 88rpx;

  &.__primary {
    border: 1rpx solid var(--x-color-main);
    background: var(--x-color-main);
    color: #fff;

    &.disabled {
      border: 1rpx solid #c7ccd5;
      background: #c7ccd5;
      color: #fff;
    }
  }
}
